{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set container = theme.settings.fluid_container ? 'container-fluid' : 'container' %}

{# Header #}
{% block header %}
  <header class="header" role="banner">
    {# Header top #}
    <div class="header__top clearfix">
      {% block header_top %}
        {% if page.top_bar %}
          <div class="{{ container }}">
            {# Top bar #}
            {% block top_bar %}
              {{ page.top_bar }}
            {% endblock %}
          </div>
        {% endif %}
      {% endblock %}
    </div>

    {# Header main #}
    {% if (page.branding or page.search_box) %}
      <div class="header__middle clearfix">
        {% block header_middle %}
          <div class="{{ container }}">
            {# Branding #}
            {% if page.branding %}
              {% block branding %}
                {{ page.branding }}
              {% endblock %}
            {% endif %}

            {# Search box #}
            {% if page.search_box %}
              {% block search_box %}
                {{ page.search_box }}
              {% endblock %}
            {% endif %}
          </div>
        {% endblock header_middle %}
      </div>
    {% endif %}

    {# Navbar #}
    {% if page.navigation_collapsible %}
      <div class="header__bottom">
        {% block navbar %}
          {%
            set navbar_classes = [
              'navbar',
              theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
              theme.settings.navbar_position ? 'navbar-' ~ theme.settings.navbar_position|clean_class,
            ]
          %}
          <div{{ navbar_attributes.addClass(navbar_classes) }} id="navbar">
            <div class="container">
              <div class="navbar-header">
                {# .btn-navbar is used as the toggle for collapsed navbar content #}
                {% if page.navigation_collapsible %}
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">{{ 'Toggle navigation'|t }}</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                  </button>
                {% endif %}
              </div>

              {# Navigation (collapsible) #}
              {% if page.navigation_collapsible %}
                <div id="navbar-collapse" class="navbar-collapse collapse">
                  {{ page.navigation_collapsible }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endblock navbar %}
      </div>
    {% endif %}

  </header>
{% endblock %}

<div class="holygrail-body">
  {# Main #}
  {% block main %}
    <div role="main" class="main-container js-quickedit-main-content">
      <div class="{{ container }}">
        {% block main_container %}
        <div class="row">
          {# Sidebar First #}
          {% if page.sidebar_first or page.facets %}
            <aside class="col-sm-3 sidemenu" role="complementary" id="sidemenu">
              {% if page.sidebar_top %}
                  {% block sidebar_top %}
                      {{ page.sidebar_top }}
                  {% endblock %}
              {% endif %}
              {% if page.facets %}
                {% block facets %}
                    {{ page.facets }}
                {% endblock %}
              {% endif %}
              {% if page.sidebar_first %}
                {% block sidebar_first %}
                    {{ page.sidebar_first }}
                {% endblock %}
              {% endif %}
            </aside>
          {% endif %}

          {# Content #}
          {%
            set content_classes = [
              (page.sidebar_first or page.facets or page.sidebar_top) and page.sidebar_second ? 'col-sm-6',
              (page.sidebar_first or page.facets  or page.sidebar_top) and page.sidebar_second is empty ? 'col-sm-9',
              page.sidebar_second and (page.sidebar_first or page.facets  or page.sidebar_top) is empty ? 'col-sm-9',
              (page.sidebar_first or page.facets  or page.sidebar_top) is empty and page.sidebar_second is empty ? 'col-sm-12'
            ]
          %}
          <section{{ content_attributes.addClass(content_classes) }}>

            {# Highlighted #}
            {% if page.highlighted %}
              {% block highlighted %}
                <div class="highlighted">{{ page.highlighted }}</div>
              {% endblock %}
            {% endif %}

            {# Breadcrumbs #}
            {% if breadcrumb %}
              {% block breadcrumb %}
                {{ breadcrumb }}
              {% endblock %}
            {% endif %}

            {# Action Links #}
            {% if action_links %}
              {% block action_links %}
                <ul class="action-links">{{ action_links }}</ul>
              {% endblock %}
            {% endif %}

            {# Help #}
            {% if page.help %}
              {% block help %}
                {{ page.help }}
              {% endblock %}
            {% endif %}


            {# Content #}
            {% block content %}
              <a id="main-content"></a>
              {{ page.content }}
            {% endblock %}
          </section>

          {# Sidebar Second #}
          {% if page.sidebar_second %}
            {% block sidebar_second %}
              <aside class="col-sm-3" role="complementary">
                {{ page.sidebar_second }}
              </aside>
            {% endblock %}
          {% endif %}
        </div>
        {% endblock %}
      </div>
    </div>
  {% endblock %}
</div>

{% block footer %}
  <footer class="footer" role="contentinfo">
    <div class="footer__top">
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            {{ page.footer_col_1 }}
          </div>
          <div class="col-sm-3">
            {{ page.footer_col_2 }}
          </div>
          <div class="col-sm-3">
            {{ page.footer_col_3 }}
          </div>
          <div class="col-sm-3">
            {{ page.footer_col_4 }}
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
          <div class="row">
            <div class="col-sm-3">
              {{ page.footer2_col_1 }}
            </div>
            <div class="col-sm-3">
              {{ page.footer2_col_2 }}
            </div>
            <div class="col-sm-3">
              {{ page.footer2_col_3 }}
            </div>
            <div class="col-sm-3">
              {{ page.footer2_col_4 }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom-wrapper">
      <div class="container">
      {{ page.footer }}
      </div>
    </div>
  </footer>
{% endblock %}
