{%
set classes = [
'bio-slideshow-item',
]
%}

{% if content %}
<div{{ attributes.addClass(classes) }}>
  <div class="slideshow-item-media">
    {{ content.media }}
  </div>
  <div class="slideshow-item-caption">
    {{ content.caption }}
  </div>
</div>
{% endif %}
