{%
set classes = [
'bio-news-wrapper',
]
%}

{% if content %}
<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="col-xs-8">
      {{ content.right }}
    </div>
    <div class="col-xs-4">
      {{ content.left }}
    </div>
  </div>
</div>
{% endif %}
