{%
set classes = [
'bio-teaser-wrapper',
]
%}

{% if content %}
<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="col-xs-9">
      {{ content.right }}
    </div>
    <div class="col-xs-3">
      {{ content.left }}
    </div>
  </div>
</div>
{% endif %}
