{%
set classes = [
'bio-news-wrapper',
]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      <div class="col-xs-12">
        {{ content.slideshow }}
      </div>
      <div class="col-xs-8">
        {{ content.left }}
      </div>
      <div class="col-xs-4">
        {{ content.right }}
      </div>
    </div>
  </div>
{% endif %}
